[project]
name = "climate-ref-ilamb"
version = "0.6.4"
description = "ILAMB diagnostic provider for the Rapid Evaluation Framework"
readme = "README.md"
authors = [
  { name = "Nathan Collier", email = "nathaniel.collier@gmail.com" },
  { name = "Jared Lewis", email = "jared.lewis@climate-resource.com" },
]
requires-python = ">=3.11"
license = "Apache-2.0"
classifiers = [
  "Development Status :: 3 - Alpha",
  "Operating System :: OS Independent",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Topic :: Scientific/Engineering",
  "License :: OSI Approved :: Apache Software License",
]
dependencies = [
  "climate-ref-core",
  "ilamb3>=2025.5.20",
  "scipy<1.16",  # https://github.com/statsmodels/statsmodels/issues/9584
]
[project.entry-points."climate-ref.providers"]
ilamb = "climate_ref_ilamb:provider"

[dependency-groups]
dev = ["types-pyyaml>=6.0.12"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
