[project]
name = "climate-ref-ilamb"
version = "0.5.1"
description = "ILAMB diagnostic provider for the Rapid Evaluation Framework"
readme = "README.md"
authors = [{ name = "Nathan Collier", email = "nathaniel.collier@gmail.com" }]
requires-python = ">=3.11"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering",
]
dependencies = [
    "climate-ref-core",
    "ilamb3>=2025.4.28",
    "types-pyyaml>=6.0.12.20241230",
]

[project.license]
text = "Apache-2.0"

[tool.uv]
dev-dependencies = []

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
