[project]
name = "cmip_ref_metrics_pmp"
version = "0.3.1"
description = "PMP metrics provider for the CMIP Rapid Evaluation Framework"
readme = "README.md"
authors = [
    { name = "Jiwoo Lee", email = "jwlee@llnl.gov" }
]
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering",
]
dependencies = [
    "cmip_ref_core",
    "pcmdi_metrics",
]

[tool.uv.sources]
pcmdi_metrics = { git = "https://github.com/PCMDI/pcmdi_metrics", rev="v3.9" }

[project.license]
text = "Apache-2.0"

[tool.uv]
dev-dependencies = [
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
