[project]
name = "climate-ref-esmvaltool"
version = "0.7.0"
description = "ESMValTool diagnostic provider for the Rapid Evaluation Framework"
readme = "README.md"
authors = [
    { name = "ESMValTool development team", email = "esmvaltool-dev@listserv.dfn.de" },
    { name = "Jared Lewis", email = "jared.lewis@climate-resource.com" },
]
license = "Apache-2.0"
requires-python = ">=3.11"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Operating System :: OS Independent",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering",
    "License :: OSI Approved :: Apache Software License",
]
dependencies = [
    "climate-ref-core",
    "netcdf4>=1.7.2",
    "pooch >= 1.8",
    "pyyaml",
    "xarray >= 2023.3.0",
]
[project.entry-points."climate-ref.providers"]
esmvaltool = "climate_ref_esmvaltool:provider"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
