[project]
name = "climate-ref-esmvaltool"
version = "0.5.1"
description = "ESMValTool diagnostic provider for the Rapid Evaluation Framework"
readme = "README.md"
authors = [
    { name = "ESMValTool development team", email = "esmvaltool-dev@listserv.dfn.de " }
]
requires-python = ">=3.11"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering",
]
dependencies = [
    "pooch >= 1.8",
    "climate-ref-core",
    "ruamel.yaml >= 0.18",
    "xarray >= 2023.3.0",
]

[project.license]
text = "Apache-2.0"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
