[project]
name = "cmip_ref"
version = "0.3.1"
description = "Application which runs the CMIP Rapid Evaluation Framework"
readme = "README.md"
authors = [
    { name = "Jared Lewis", email = "jared.lewis@climate-resource.com" }
]
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: Apache Software License",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering",
]
dependencies = [
    "cmip_ref_core",
    "attrs>=24.2.0",
    "cattrs>=24.1.2",
    "environs>=11.0.0",
    "tomlkit>=0.13.2",
    "typer>=0.12.5",
    "sqlalchemy>=2.0.36",
    "alembic>=1.13.3",
    "loguru>=0.7.2",
    "ecgtools>=2024.7.31",
    "platformdirs>=4.3.6",
    "setuptools>=75.8.0",
]

[project.optional-dependencies]
postgres = [
    "psycopg2-binary>=2.9.2",
]
celery = [
    "cmip_ref_celery>=0.3.1",
]
metrics = [
    "cmip_ref_metrics_example>=0.3.1",
    "cmip_ref_metrics_esmvaltool>=0.3.1",
    "cmip_ref_metrics_pmp>=0.3.1",
    "cmip_ref_metrics_ilamb>=0.3.1",
]
[project.license]
text = "Apache-2.0"

[project.scripts]
ref = "cmip_ref.cli:app"

[tool.uv]
dev-dependencies = [
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
