name: Integration tests

on:
  workflow_dispatch:
  push:
    branches: [main]
    tags: ['v*']
  schedule:
    # Runs every day at 2:15am (UTC) (~ midday in AEST)
    - cron: '2 15 * * *'

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    runs-on: "${{ matrix.os }}"
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run tests
        run: |
          make fetch-test-data
          make test
  tests-slow:
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: [ "3.10" ]
    runs-on: "${{ matrix.os }}"
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run tests
        run: |
          make fetch-test-data
          make test-integration-slow
